/* http://meyerweb.com/eric/tools/css/reset/
   v4.0 | 20180602
   License: none (public domain)
*/
@import "https://fonts.googleapis.com/css?family=Roboto:400,700";
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
main, menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, main, menu, nav, section {
  display: block; }

/* HTML5 hidden-attribute fix for newer browsers */
*[hidden] {
  display: none; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

.flexgrid {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start; }
  .flexgrid *,
  .flexgrid *::after,
  .flexgrid *::before {
    box-sizing: border-box; }
  .flexgrid_gutter {
    width: calc(100% + 16px);
    margin: 0 -8px; }
    .flexgrid_gutter .col {
      padding: 0 8px; }
  .flexgrid .col {
    flex: 1;
    flex-basis: 100%;
    max-width: 100%; }
    .flexgrid .col.col_1 {
      flex-basis: 4.1666666667%;
      max-width: 4.1666666667%; }
    .flexgrid .col.col_2 {
      flex-basis: 8.3333333333%;
      max-width: 8.3333333333%; }
    .flexgrid .col.col_3 {
      flex-basis: 12.5%;
      max-width: 12.5%; }
    .flexgrid .col.col_4 {
      flex-basis: 16.6666666667%;
      max-width: 16.6666666667%; }
    .flexgrid .col.col_5 {
      flex-basis: 20.8333333333%;
      max-width: 20.8333333333%; }
    .flexgrid .col.col_6 {
      flex-basis: 25%;
      max-width: 25%; }
    .flexgrid .col.col_7 {
      flex-basis: 29.1666666667%;
      max-width: 29.1666666667%; }
    .flexgrid .col.col_8 {
      flex-basis: 33.3333333333%;
      max-width: 33.3333333333%; }
    .flexgrid .col.col_9 {
      flex-basis: 37.5%;
      max-width: 37.5%; }
    .flexgrid .col.col_10 {
      flex-basis: 41.6666666667%;
      max-width: 41.6666666667%; }
    .flexgrid .col.col_11 {
      flex-basis: 45.8333333333%;
      max-width: 45.8333333333%; }
    .flexgrid .col.col_12 {
      flex-basis: 50%;
      max-width: 50%; }
    .flexgrid .col.col_13 {
      flex-basis: 54.1666666667%;
      max-width: 54.1666666667%; }
    .flexgrid .col.col_14 {
      flex-basis: 58.3333333333%;
      max-width: 58.3333333333%; }
    .flexgrid .col.col_15 {
      flex-basis: 62.5%;
      max-width: 62.5%; }
    .flexgrid .col.col_16 {
      flex-basis: 66.6666666667%;
      max-width: 66.6666666667%; }
    .flexgrid .col.col_17 {
      flex-basis: 70.8333333333%;
      max-width: 70.8333333333%; }
    .flexgrid .col.col_18 {
      flex-basis: 75%;
      max-width: 75%; }
    .flexgrid .col.col_19 {
      flex-basis: 79.1666666667%;
      max-width: 79.1666666667%; }
    .flexgrid .col.col_20 {
      flex-basis: 83.3333333333%;
      max-width: 83.3333333333%; }
    .flexgrid .col.col_21 {
      flex-basis: 87.5%;
      max-width: 87.5%; }
    .flexgrid .col.col_22 {
      flex-basis: 91.6666666667%;
      max-width: 91.6666666667%; }
    .flexgrid .col.col_23 {
      flex-basis: 95.8333333333%;
      max-width: 95.8333333333%; }
    .flexgrid .col.col_24 {
      flex-basis: 100%;
      max-width: 100%; }
    @media only screen and (max-device-width: 599px) {
      .flexgrid .col.col_1-m-o {
        flex-basis: 4.1666666667%;
        max-width: 4.1666666667%; }
      .flexgrid .col.col_2-m-o {
        flex-basis: 8.3333333333%;
        max-width: 8.3333333333%; }
      .flexgrid .col.col_3-m-o {
        flex-basis: 12.5%;
        max-width: 12.5%; }
      .flexgrid .col.col_4-m-o {
        flex-basis: 16.6666666667%;
        max-width: 16.6666666667%; }
      .flexgrid .col.col_5-m-o {
        flex-basis: 20.8333333333%;
        max-width: 20.8333333333%; }
      .flexgrid .col.col_6-m-o {
        flex-basis: 25%;
        max-width: 25%; }
      .flexgrid .col.col_7-m-o {
        flex-basis: 29.1666666667%;
        max-width: 29.1666666667%; }
      .flexgrid .col.col_8-m-o {
        flex-basis: 33.3333333333%;
        max-width: 33.3333333333%; }
      .flexgrid .col.col_9-m-o {
        flex-basis: 37.5%;
        max-width: 37.5%; }
      .flexgrid .col.col_10-m-o {
        flex-basis: 41.6666666667%;
        max-width: 41.6666666667%; }
      .flexgrid .col.col_11-m-o {
        flex-basis: 45.8333333333%;
        max-width: 45.8333333333%; }
      .flexgrid .col.col_12-m-o {
        flex-basis: 50%;
        max-width: 50%; }
      .flexgrid .col.col_13-m-o {
        flex-basis: 54.1666666667%;
        max-width: 54.1666666667%; }
      .flexgrid .col.col_14-m-o {
        flex-basis: 58.3333333333%;
        max-width: 58.3333333333%; }
      .flexgrid .col.col_15-m-o {
        flex-basis: 62.5%;
        max-width: 62.5%; }
      .flexgrid .col.col_16-m-o {
        flex-basis: 66.6666666667%;
        max-width: 66.6666666667%; }
      .flexgrid .col.col_17-m-o {
        flex-basis: 70.8333333333%;
        max-width: 70.8333333333%; }
      .flexgrid .col.col_18-m-o {
        flex-basis: 75%;
        max-width: 75%; }
      .flexgrid .col.col_19-m-o {
        flex-basis: 79.1666666667%;
        max-width: 79.1666666667%; }
      .flexgrid .col.col_20-m-o {
        flex-basis: 83.3333333333%;
        max-width: 83.3333333333%; }
      .flexgrid .col.col_21-m-o {
        flex-basis: 87.5%;
        max-width: 87.5%; }
      .flexgrid .col.col_22-m-o {
        flex-basis: 91.6666666667%;
        max-width: 91.6666666667%; }
      .flexgrid .col.col_23-m-o {
        flex-basis: 95.8333333333%;
        max-width: 95.8333333333%; }
      .flexgrid .col.col_24-m-o {
        flex-basis: 100%;
        max-width: 100%; } }
    @media only screen and (max-device-width: 599px) and (orientation: portrait) {
      .flexgrid .col.col_1-mp-o {
        flex-basis: 4.1666666667%;
        max-width: 4.1666666667%; }
      .flexgrid .col.col_2-mp-o {
        flex-basis: 8.3333333333%;
        max-width: 8.3333333333%; }
      .flexgrid .col.col_3-mp-o {
        flex-basis: 12.5%;
        max-width: 12.5%; }
      .flexgrid .col.col_4-mp-o {
        flex-basis: 16.6666666667%;
        max-width: 16.6666666667%; }
      .flexgrid .col.col_5-mp-o {
        flex-basis: 20.8333333333%;
        max-width: 20.8333333333%; }
      .flexgrid .col.col_6-mp-o {
        flex-basis: 25%;
        max-width: 25%; }
      .flexgrid .col.col_7-mp-o {
        flex-basis: 29.1666666667%;
        max-width: 29.1666666667%; }
      .flexgrid .col.col_8-mp-o {
        flex-basis: 33.3333333333%;
        max-width: 33.3333333333%; }
      .flexgrid .col.col_9-mp-o {
        flex-basis: 37.5%;
        max-width: 37.5%; }
      .flexgrid .col.col_10-mp-o {
        flex-basis: 41.6666666667%;
        max-width: 41.6666666667%; }
      .flexgrid .col.col_11-mp-o {
        flex-basis: 45.8333333333%;
        max-width: 45.8333333333%; }
      .flexgrid .col.col_12-mp-o {
        flex-basis: 50%;
        max-width: 50%; }
      .flexgrid .col.col_13-mp-o {
        flex-basis: 54.1666666667%;
        max-width: 54.1666666667%; }
      .flexgrid .col.col_14-mp-o {
        flex-basis: 58.3333333333%;
        max-width: 58.3333333333%; }
      .flexgrid .col.col_15-mp-o {
        flex-basis: 62.5%;
        max-width: 62.5%; }
      .flexgrid .col.col_16-mp-o {
        flex-basis: 66.6666666667%;
        max-width: 66.6666666667%; }
      .flexgrid .col.col_17-mp-o {
        flex-basis: 70.8333333333%;
        max-width: 70.8333333333%; }
      .flexgrid .col.col_18-mp-o {
        flex-basis: 75%;
        max-width: 75%; }
      .flexgrid .col.col_19-mp-o {
        flex-basis: 79.1666666667%;
        max-width: 79.1666666667%; }
      .flexgrid .col.col_20-mp-o {
        flex-basis: 83.3333333333%;
        max-width: 83.3333333333%; }
      .flexgrid .col.col_21-mp-o {
        flex-basis: 87.5%;
        max-width: 87.5%; }
      .flexgrid .col.col_22-mp-o {
        flex-basis: 91.6666666667%;
        max-width: 91.6666666667%; }
      .flexgrid .col.col_23-mp-o {
        flex-basis: 95.8333333333%;
        max-width: 95.8333333333%; }
      .flexgrid .col.col_24-mp-o {
        flex-basis: 100%;
        max-width: 100%; } }
    @media only screen and (max-device-width: 599px) and (orientation: landscape) {
      .flexgrid .col.col_1-ml-o {
        flex-basis: 4.1666666667%;
        max-width: 4.1666666667%; }
      .flexgrid .col.col_2-ml-o {
        flex-basis: 8.3333333333%;
        max-width: 8.3333333333%; }
      .flexgrid .col.col_3-ml-o {
        flex-basis: 12.5%;
        max-width: 12.5%; }
      .flexgrid .col.col_4-ml-o {
        flex-basis: 16.6666666667%;
        max-width: 16.6666666667%; }
      .flexgrid .col.col_5-ml-o {
        flex-basis: 20.8333333333%;
        max-width: 20.8333333333%; }
      .flexgrid .col.col_6-ml-o {
        flex-basis: 25%;
        max-width: 25%; }
      .flexgrid .col.col_7-ml-o {
        flex-basis: 29.1666666667%;
        max-width: 29.1666666667%; }
      .flexgrid .col.col_8-ml-o {
        flex-basis: 33.3333333333%;
        max-width: 33.3333333333%; }
      .flexgrid .col.col_9-ml-o {
        flex-basis: 37.5%;
        max-width: 37.5%; }
      .flexgrid .col.col_10-ml-o {
        flex-basis: 41.6666666667%;
        max-width: 41.6666666667%; }
      .flexgrid .col.col_11-ml-o {
        flex-basis: 45.8333333333%;
        max-width: 45.8333333333%; }
      .flexgrid .col.col_12-ml-o {
        flex-basis: 50%;
        max-width: 50%; }
      .flexgrid .col.col_13-ml-o {
        flex-basis: 54.1666666667%;
        max-width: 54.1666666667%; }
      .flexgrid .col.col_14-ml-o {
        flex-basis: 58.3333333333%;
        max-width: 58.3333333333%; }
      .flexgrid .col.col_15-ml-o {
        flex-basis: 62.5%;
        max-width: 62.5%; }
      .flexgrid .col.col_16-ml-o {
        flex-basis: 66.6666666667%;
        max-width: 66.6666666667%; }
      .flexgrid .col.col_17-ml-o {
        flex-basis: 70.8333333333%;
        max-width: 70.8333333333%; }
      .flexgrid .col.col_18-ml-o {
        flex-basis: 75%;
        max-width: 75%; }
      .flexgrid .col.col_19-ml-o {
        flex-basis: 79.1666666667%;
        max-width: 79.1666666667%; }
      .flexgrid .col.col_20-ml-o {
        flex-basis: 83.3333333333%;
        max-width: 83.3333333333%; }
      .flexgrid .col.col_21-ml-o {
        flex-basis: 87.5%;
        max-width: 87.5%; }
      .flexgrid .col.col_22-ml-o {
        flex-basis: 91.6666666667%;
        max-width: 91.6666666667%; }
      .flexgrid .col.col_23-ml-o {
        flex-basis: 95.8333333333%;
        max-width: 95.8333333333%; }
      .flexgrid .col.col_24-ml-o {
        flex-basis: 100%;
        max-width: 100%; } }
    @media only screen and (min-width: 600px) {
      .flexgrid .col.col_1-t {
        flex-basis: 4.1666666667%;
        max-width: 4.1666666667%; }
      .flexgrid .col.col_2-t {
        flex-basis: 8.3333333333%;
        max-width: 8.3333333333%; }
      .flexgrid .col.col_3-t {
        flex-basis: 12.5%;
        max-width: 12.5%; }
      .flexgrid .col.col_4-t {
        flex-basis: 16.6666666667%;
        max-width: 16.6666666667%; }
      .flexgrid .col.col_5-t {
        flex-basis: 20.8333333333%;
        max-width: 20.8333333333%; }
      .flexgrid .col.col_6-t {
        flex-basis: 25%;
        max-width: 25%; }
      .flexgrid .col.col_7-t {
        flex-basis: 29.1666666667%;
        max-width: 29.1666666667%; }
      .flexgrid .col.col_8-t {
        flex-basis: 33.3333333333%;
        max-width: 33.3333333333%; }
      .flexgrid .col.col_9-t {
        flex-basis: 37.5%;
        max-width: 37.5%; }
      .flexgrid .col.col_10-t {
        flex-basis: 41.6666666667%;
        max-width: 41.6666666667%; }
      .flexgrid .col.col_11-t {
        flex-basis: 45.8333333333%;
        max-width: 45.8333333333%; }
      .flexgrid .col.col_12-t {
        flex-basis: 50%;
        max-width: 50%; }
      .flexgrid .col.col_13-t {
        flex-basis: 54.1666666667%;
        max-width: 54.1666666667%; }
      .flexgrid .col.col_14-t {
        flex-basis: 58.3333333333%;
        max-width: 58.3333333333%; }
      .flexgrid .col.col_15-t {
        flex-basis: 62.5%;
        max-width: 62.5%; }
      .flexgrid .col.col_16-t {
        flex-basis: 66.6666666667%;
        max-width: 66.6666666667%; }
      .flexgrid .col.col_17-t {
        flex-basis: 70.8333333333%;
        max-width: 70.8333333333%; }
      .flexgrid .col.col_18-t {
        flex-basis: 75%;
        max-width: 75%; }
      .flexgrid .col.col_19-t {
        flex-basis: 79.1666666667%;
        max-width: 79.1666666667%; }
      .flexgrid .col.col_20-t {
        flex-basis: 83.3333333333%;
        max-width: 83.3333333333%; }
      .flexgrid .col.col_21-t {
        flex-basis: 87.5%;
        max-width: 87.5%; }
      .flexgrid .col.col_22-t {
        flex-basis: 91.6666666667%;
        max-width: 91.6666666667%; }
      .flexgrid .col.col_23-t {
        flex-basis: 95.8333333333%;
        max-width: 95.8333333333%; }
      .flexgrid .col.col_24-t {
        flex-basis: 100%;
        max-width: 100%; } }
    @media only screen and (min-device-width: 600px) and (max-device-width: 991px) {
      .flexgrid .col.col_1-t-o {
        flex-basis: 4.1666666667%;
        max-width: 4.1666666667%; }
      .flexgrid .col.col_2-t-o {
        flex-basis: 8.3333333333%;
        max-width: 8.3333333333%; }
      .flexgrid .col.col_3-t-o {
        flex-basis: 12.5%;
        max-width: 12.5%; }
      .flexgrid .col.col_4-t-o {
        flex-basis: 16.6666666667%;
        max-width: 16.6666666667%; }
      .flexgrid .col.col_5-t-o {
        flex-basis: 20.8333333333%;
        max-width: 20.8333333333%; }
      .flexgrid .col.col_6-t-o {
        flex-basis: 25%;
        max-width: 25%; }
      .flexgrid .col.col_7-t-o {
        flex-basis: 29.1666666667%;
        max-width: 29.1666666667%; }
      .flexgrid .col.col_8-t-o {
        flex-basis: 33.3333333333%;
        max-width: 33.3333333333%; }
      .flexgrid .col.col_9-t-o {
        flex-basis: 37.5%;
        max-width: 37.5%; }
      .flexgrid .col.col_10-t-o {
        flex-basis: 41.6666666667%;
        max-width: 41.6666666667%; }
      .flexgrid .col.col_11-t-o {
        flex-basis: 45.8333333333%;
        max-width: 45.8333333333%; }
      .flexgrid .col.col_12-t-o {
        flex-basis: 50%;
        max-width: 50%; }
      .flexgrid .col.col_13-t-o {
        flex-basis: 54.1666666667%;
        max-width: 54.1666666667%; }
      .flexgrid .col.col_14-t-o {
        flex-basis: 58.3333333333%;
        max-width: 58.3333333333%; }
      .flexgrid .col.col_15-t-o {
        flex-basis: 62.5%;
        max-width: 62.5%; }
      .flexgrid .col.col_16-t-o {
        flex-basis: 66.6666666667%;
        max-width: 66.6666666667%; }
      .flexgrid .col.col_17-t-o {
        flex-basis: 70.8333333333%;
        max-width: 70.8333333333%; }
      .flexgrid .col.col_18-t-o {
        flex-basis: 75%;
        max-width: 75%; }
      .flexgrid .col.col_19-t-o {
        flex-basis: 79.1666666667%;
        max-width: 79.1666666667%; }
      .flexgrid .col.col_20-t-o {
        flex-basis: 83.3333333333%;
        max-width: 83.3333333333%; }
      .flexgrid .col.col_21-t-o {
        flex-basis: 87.5%;
        max-width: 87.5%; }
      .flexgrid .col.col_22-t-o {
        flex-basis: 91.6666666667%;
        max-width: 91.6666666667%; }
      .flexgrid .col.col_23-t-o {
        flex-basis: 95.8333333333%;
        max-width: 95.8333333333%; }
      .flexgrid .col.col_24-t-o {
        flex-basis: 100%;
        max-width: 100%; } }
    @media only screen and (min-width: 600px) and (orientation: portrait) {
      .flexgrid .col.col_1-tp {
        flex-basis: 4.1666666667%;
        max-width: 4.1666666667%; }
      .flexgrid .col.col_2-tp {
        flex-basis: 8.3333333333%;
        max-width: 8.3333333333%; }
      .flexgrid .col.col_3-tp {
        flex-basis: 12.5%;
        max-width: 12.5%; }
      .flexgrid .col.col_4-tp {
        flex-basis: 16.6666666667%;
        max-width: 16.6666666667%; }
      .flexgrid .col.col_5-tp {
        flex-basis: 20.8333333333%;
        max-width: 20.8333333333%; }
      .flexgrid .col.col_6-tp {
        flex-basis: 25%;
        max-width: 25%; }
      .flexgrid .col.col_7-tp {
        flex-basis: 29.1666666667%;
        max-width: 29.1666666667%; }
      .flexgrid .col.col_8-tp {
        flex-basis: 33.3333333333%;
        max-width: 33.3333333333%; }
      .flexgrid .col.col_9-tp {
        flex-basis: 37.5%;
        max-width: 37.5%; }
      .flexgrid .col.col_10-tp {
        flex-basis: 41.6666666667%;
        max-width: 41.6666666667%; }
      .flexgrid .col.col_11-tp {
        flex-basis: 45.8333333333%;
        max-width: 45.8333333333%; }
      .flexgrid .col.col_12-tp {
        flex-basis: 50%;
        max-width: 50%; }
      .flexgrid .col.col_13-tp {
        flex-basis: 54.1666666667%;
        max-width: 54.1666666667%; }
      .flexgrid .col.col_14-tp {
        flex-basis: 58.3333333333%;
        max-width: 58.3333333333%; }
      .flexgrid .col.col_15-tp {
        flex-basis: 62.5%;
        max-width: 62.5%; }
      .flexgrid .col.col_16-tp {
        flex-basis: 66.6666666667%;
        max-width: 66.6666666667%; }
      .flexgrid .col.col_17-tp {
        flex-basis: 70.8333333333%;
        max-width: 70.8333333333%; }
      .flexgrid .col.col_18-tp {
        flex-basis: 75%;
        max-width: 75%; }
      .flexgrid .col.col_19-tp {
        flex-basis: 79.1666666667%;
        max-width: 79.1666666667%; }
      .flexgrid .col.col_20-tp {
        flex-basis: 83.3333333333%;
        max-width: 83.3333333333%; }
      .flexgrid .col.col_21-tp {
        flex-basis: 87.5%;
        max-width: 87.5%; }
      .flexgrid .col.col_22-tp {
        flex-basis: 91.6666666667%;
        max-width: 91.6666666667%; }
      .flexgrid .col.col_23-tp {
        flex-basis: 95.8333333333%;
        max-width: 95.8333333333%; }
      .flexgrid .col.col_24-tp {
        flex-basis: 100%;
        max-width: 100%; } }
    @media only screen and (min-device-width: 600px) and (max-device-width: 991px) and (orientation: portrait) {
      .flexgrid .col.col_1-tp-o {
        flex-basis: 4.1666666667%;
        max-width: 4.1666666667%; }
      .flexgrid .col.col_2-tp-o {
        flex-basis: 8.3333333333%;
        max-width: 8.3333333333%; }
      .flexgrid .col.col_3-tp-o {
        flex-basis: 12.5%;
        max-width: 12.5%; }
      .flexgrid .col.col_4-tp-o {
        flex-basis: 16.6666666667%;
        max-width: 16.6666666667%; }
      .flexgrid .col.col_5-tp-o {
        flex-basis: 20.8333333333%;
        max-width: 20.8333333333%; }
      .flexgrid .col.col_6-tp-o {
        flex-basis: 25%;
        max-width: 25%; }
      .flexgrid .col.col_7-tp-o {
        flex-basis: 29.1666666667%;
        max-width: 29.1666666667%; }
      .flexgrid .col.col_8-tp-o {
        flex-basis: 33.3333333333%;
        max-width: 33.3333333333%; }
      .flexgrid .col.col_9-tp-o {
        flex-basis: 37.5%;
        max-width: 37.5%; }
      .flexgrid .col.col_10-tp-o {
        flex-basis: 41.6666666667%;
        max-width: 41.6666666667%; }
      .flexgrid .col.col_11-tp-o {
        flex-basis: 45.8333333333%;
        max-width: 45.8333333333%; }
      .flexgrid .col.col_12-tp-o {
        flex-basis: 50%;
        max-width: 50%; }
      .flexgrid .col.col_13-tp-o {
        flex-basis: 54.1666666667%;
        max-width: 54.1666666667%; }
      .flexgrid .col.col_14-tp-o {
        flex-basis: 58.3333333333%;
        max-width: 58.3333333333%; }
      .flexgrid .col.col_15-tp-o {
        flex-basis: 62.5%;
        max-width: 62.5%; }
      .flexgrid .col.col_16-tp-o {
        flex-basis: 66.6666666667%;
        max-width: 66.6666666667%; }
      .flexgrid .col.col_17-tp-o {
        flex-basis: 70.8333333333%;
        max-width: 70.8333333333%; }
      .flexgrid .col.col_18-tp-o {
        flex-basis: 75%;
        max-width: 75%; }
      .flexgrid .col.col_19-tp-o {
        flex-basis: 79.1666666667%;
        max-width: 79.1666666667%; }
      .flexgrid .col.col_20-tp-o {
        flex-basis: 83.3333333333%;
        max-width: 83.3333333333%; }
      .flexgrid .col.col_21-tp-o {
        flex-basis: 87.5%;
        max-width: 87.5%; }
      .flexgrid .col.col_22-tp-o {
        flex-basis: 91.6666666667%;
        max-width: 91.6666666667%; }
      .flexgrid .col.col_23-tp-o {
        flex-basis: 95.8333333333%;
        max-width: 95.8333333333%; }
      .flexgrid .col.col_24-tp-o {
        flex-basis: 100%;
        max-width: 100%; } }
    @media only screen and (min-width: 600px) and (orientation: landscape) {
      .flexgrid .col.col_1-tl {
        flex-basis: 4.1666666667%;
        max-width: 4.1666666667%; }
      .flexgrid .col.col_2-tl {
        flex-basis: 8.3333333333%;
        max-width: 8.3333333333%; }
      .flexgrid .col.col_3-tl {
        flex-basis: 12.5%;
        max-width: 12.5%; }
      .flexgrid .col.col_4-tl {
        flex-basis: 16.6666666667%;
        max-width: 16.6666666667%; }
      .flexgrid .col.col_5-tl {
        flex-basis: 20.8333333333%;
        max-width: 20.8333333333%; }
      .flexgrid .col.col_6-tl {
        flex-basis: 25%;
        max-width: 25%; }
      .flexgrid .col.col_7-tl {
        flex-basis: 29.1666666667%;
        max-width: 29.1666666667%; }
      .flexgrid .col.col_8-tl {
        flex-basis: 33.3333333333%;
        max-width: 33.3333333333%; }
      .flexgrid .col.col_9-tl {
        flex-basis: 37.5%;
        max-width: 37.5%; }
      .flexgrid .col.col_10-tl {
        flex-basis: 41.6666666667%;
        max-width: 41.6666666667%; }
      .flexgrid .col.col_11-tl {
        flex-basis: 45.8333333333%;
        max-width: 45.8333333333%; }
      .flexgrid .col.col_12-tl {
        flex-basis: 50%;
        max-width: 50%; }
      .flexgrid .col.col_13-tl {
        flex-basis: 54.1666666667%;
        max-width: 54.1666666667%; }
      .flexgrid .col.col_14-tl {
        flex-basis: 58.3333333333%;
        max-width: 58.3333333333%; }
      .flexgrid .col.col_15-tl {
        flex-basis: 62.5%;
        max-width: 62.5%; }
      .flexgrid .col.col_16-tl {
        flex-basis: 66.6666666667%;
        max-width: 66.6666666667%; }
      .flexgrid .col.col_17-tl {
        flex-basis: 70.8333333333%;
        max-width: 70.8333333333%; }
      .flexgrid .col.col_18-tl {
        flex-basis: 75%;
        max-width: 75%; }
      .flexgrid .col.col_19-tl {
        flex-basis: 79.1666666667%;
        max-width: 79.1666666667%; }
      .flexgrid .col.col_20-tl {
        flex-basis: 83.3333333333%;
        max-width: 83.3333333333%; }
      .flexgrid .col.col_21-tl {
        flex-basis: 87.5%;
        max-width: 87.5%; }
      .flexgrid .col.col_22-tl {
        flex-basis: 91.6666666667%;
        max-width: 91.6666666667%; }
      .flexgrid .col.col_23-tl {
        flex-basis: 95.8333333333%;
        max-width: 95.8333333333%; }
      .flexgrid .col.col_24-tl {
        flex-basis: 100%;
        max-width: 100%; } }
    @media only screen and (min-device-width: 600px) and (max-device-width: 991px) and (orientation: landscape) {
      .flexgrid .col.col_1-tl-o {
        flex-basis: 4.1666666667%;
        max-width: 4.1666666667%; }
      .flexgrid .col.col_2-tl-o {
        flex-basis: 8.3333333333%;
        max-width: 8.3333333333%; }
      .flexgrid .col.col_3-tl-o {
        flex-basis: 12.5%;
        max-width: 12.5%; }
      .flexgrid .col.col_4-tl-o {
        flex-basis: 16.6666666667%;
        max-width: 16.6666666667%; }
      .flexgrid .col.col_5-tl-o {
        flex-basis: 20.8333333333%;
        max-width: 20.8333333333%; }
      .flexgrid .col.col_6-tl-o {
        flex-basis: 25%;
        max-width: 25%; }
      .flexgrid .col.col_7-tl-o {
        flex-basis: 29.1666666667%;
        max-width: 29.1666666667%; }
      .flexgrid .col.col_8-tl-o {
        flex-basis: 33.3333333333%;
        max-width: 33.3333333333%; }
      .flexgrid .col.col_9-tl-o {
        flex-basis: 37.5%;
        max-width: 37.5%; }
      .flexgrid .col.col_10-tl-o {
        flex-basis: 41.6666666667%;
        max-width: 41.6666666667%; }
      .flexgrid .col.col_11-tl-o {
        flex-basis: 45.8333333333%;
        max-width: 45.8333333333%; }
      .flexgrid .col.col_12-tl-o {
        flex-basis: 50%;
        max-width: 50%; }
      .flexgrid .col.col_13-tl-o {
        flex-basis: 54.1666666667%;
        max-width: 54.1666666667%; }
      .flexgrid .col.col_14-tl-o {
        flex-basis: 58.3333333333%;
        max-width: 58.3333333333%; }
      .flexgrid .col.col_15-tl-o {
        flex-basis: 62.5%;
        max-width: 62.5%; }
      .flexgrid .col.col_16-tl-o {
        flex-basis: 66.6666666667%;
        max-width: 66.6666666667%; }
      .flexgrid .col.col_17-tl-o {
        flex-basis: 70.8333333333%;
        max-width: 70.8333333333%; }
      .flexgrid .col.col_18-tl-o {
        flex-basis: 75%;
        max-width: 75%; }
      .flexgrid .col.col_19-tl-o {
        flex-basis: 79.1666666667%;
        max-width: 79.1666666667%; }
      .flexgrid .col.col_20-tl-o {
        flex-basis: 83.3333333333%;
        max-width: 83.3333333333%; }
      .flexgrid .col.col_21-tl-o {
        flex-basis: 87.5%;
        max-width: 87.5%; }
      .flexgrid .col.col_22-tl-o {
        flex-basis: 91.6666666667%;
        max-width: 91.6666666667%; }
      .flexgrid .col.col_23-tl-o {
        flex-basis: 95.8333333333%;
        max-width: 95.8333333333%; }
      .flexgrid .col.col_24-tl-o {
        flex-basis: 100%;
        max-width: 100%; } }
    @media only screen and (min-width: 992px) {
      .flexgrid .col.col_1-l {
        flex-basis: 4.1666666667%;
        max-width: 4.1666666667%; }
      .flexgrid .col.col_2-l {
        flex-basis: 8.3333333333%;
        max-width: 8.3333333333%; }
      .flexgrid .col.col_3-l {
        flex-basis: 12.5%;
        max-width: 12.5%; }
      .flexgrid .col.col_4-l {
        flex-basis: 16.6666666667%;
        max-width: 16.6666666667%; }
      .flexgrid .col.col_5-l {
        flex-basis: 20.8333333333%;
        max-width: 20.8333333333%; }
      .flexgrid .col.col_6-l {
        flex-basis: 25%;
        max-width: 25%; }
      .flexgrid .col.col_7-l {
        flex-basis: 29.1666666667%;
        max-width: 29.1666666667%; }
      .flexgrid .col.col_8-l {
        flex-basis: 33.3333333333%;
        max-width: 33.3333333333%; }
      .flexgrid .col.col_9-l {
        flex-basis: 37.5%;
        max-width: 37.5%; }
      .flexgrid .col.col_10-l {
        flex-basis: 41.6666666667%;
        max-width: 41.6666666667%; }
      .flexgrid .col.col_11-l {
        flex-basis: 45.8333333333%;
        max-width: 45.8333333333%; }
      .flexgrid .col.col_12-l {
        flex-basis: 50%;
        max-width: 50%; }
      .flexgrid .col.col_13-l {
        flex-basis: 54.1666666667%;
        max-width: 54.1666666667%; }
      .flexgrid .col.col_14-l {
        flex-basis: 58.3333333333%;
        max-width: 58.3333333333%; }
      .flexgrid .col.col_15-l {
        flex-basis: 62.5%;
        max-width: 62.5%; }
      .flexgrid .col.col_16-l {
        flex-basis: 66.6666666667%;
        max-width: 66.6666666667%; }
      .flexgrid .col.col_17-l {
        flex-basis: 70.8333333333%;
        max-width: 70.8333333333%; }
      .flexgrid .col.col_18-l {
        flex-basis: 75%;
        max-width: 75%; }
      .flexgrid .col.col_19-l {
        flex-basis: 79.1666666667%;
        max-width: 79.1666666667%; }
      .flexgrid .col.col_20-l {
        flex-basis: 83.3333333333%;
        max-width: 83.3333333333%; }
      .flexgrid .col.col_21-l {
        flex-basis: 87.5%;
        max-width: 87.5%; }
      .flexgrid .col.col_22-l {
        flex-basis: 91.6666666667%;
        max-width: 91.6666666667%; }
      .flexgrid .col.col_23-l {
        flex-basis: 95.8333333333%;
        max-width: 95.8333333333%; }
      .flexgrid .col.col_24-l {
        flex-basis: 100%;
        max-width: 100%; } }
    @media only screen and (min-device-width: 992px) and (max-device-width: 1199px) {
      .flexgrid .col.col_1-l-o {
        flex-basis: 4.1666666667%;
        max-width: 4.1666666667%; }
      .flexgrid .col.col_2-l-o {
        flex-basis: 8.3333333333%;
        max-width: 8.3333333333%; }
      .flexgrid .col.col_3-l-o {
        flex-basis: 12.5%;
        max-width: 12.5%; }
      .flexgrid .col.col_4-l-o {
        flex-basis: 16.6666666667%;
        max-width: 16.6666666667%; }
      .flexgrid .col.col_5-l-o {
        flex-basis: 20.8333333333%;
        max-width: 20.8333333333%; }
      .flexgrid .col.col_6-l-o {
        flex-basis: 25%;
        max-width: 25%; }
      .flexgrid .col.col_7-l-o {
        flex-basis: 29.1666666667%;
        max-width: 29.1666666667%; }
      .flexgrid .col.col_8-l-o {
        flex-basis: 33.3333333333%;
        max-width: 33.3333333333%; }
      .flexgrid .col.col_9-l-o {
        flex-basis: 37.5%;
        max-width: 37.5%; }
      .flexgrid .col.col_10-l-o {
        flex-basis: 41.6666666667%;
        max-width: 41.6666666667%; }
      .flexgrid .col.col_11-l-o {
        flex-basis: 45.8333333333%;
        max-width: 45.8333333333%; }
      .flexgrid .col.col_12-l-o {
        flex-basis: 50%;
        max-width: 50%; }
      .flexgrid .col.col_13-l-o {
        flex-basis: 54.1666666667%;
        max-width: 54.1666666667%; }
      .flexgrid .col.col_14-l-o {
        flex-basis: 58.3333333333%;
        max-width: 58.3333333333%; }
      .flexgrid .col.col_15-l-o {
        flex-basis: 62.5%;
        max-width: 62.5%; }
      .flexgrid .col.col_16-l-o {
        flex-basis: 66.6666666667%;
        max-width: 66.6666666667%; }
      .flexgrid .col.col_17-l-o {
        flex-basis: 70.8333333333%;
        max-width: 70.8333333333%; }
      .flexgrid .col.col_18-l-o {
        flex-basis: 75%;
        max-width: 75%; }
      .flexgrid .col.col_19-l-o {
        flex-basis: 79.1666666667%;
        max-width: 79.1666666667%; }
      .flexgrid .col.col_20-l-o {
        flex-basis: 83.3333333333%;
        max-width: 83.3333333333%; }
      .flexgrid .col.col_21-l-o {
        flex-basis: 87.5%;
        max-width: 87.5%; }
      .flexgrid .col.col_22-l-o {
        flex-basis: 91.6666666667%;
        max-width: 91.6666666667%; }
      .flexgrid .col.col_23-l-o {
        flex-basis: 95.8333333333%;
        max-width: 95.8333333333%; }
      .flexgrid .col.col_24-l-o {
        flex-basis: 100%;
        max-width: 100%; } }
    @media only screen and (min-width: 1200px) {
      .flexgrid .col.col_1-d {
        flex-basis: 4.1666666667%;
        max-width: 4.1666666667%; }
      .flexgrid .col.col_2-d {
        flex-basis: 8.3333333333%;
        max-width: 8.3333333333%; }
      .flexgrid .col.col_3-d {
        flex-basis: 12.5%;
        max-width: 12.5%; }
      .flexgrid .col.col_4-d {
        flex-basis: 16.6666666667%;
        max-width: 16.6666666667%; }
      .flexgrid .col.col_5-d {
        flex-basis: 20.8333333333%;
        max-width: 20.8333333333%; }
      .flexgrid .col.col_6-d {
        flex-basis: 25%;
        max-width: 25%; }
      .flexgrid .col.col_7-d {
        flex-basis: 29.1666666667%;
        max-width: 29.1666666667%; }
      .flexgrid .col.col_8-d {
        flex-basis: 33.3333333333%;
        max-width: 33.3333333333%; }
      .flexgrid .col.col_9-d {
        flex-basis: 37.5%;
        max-width: 37.5%; }
      .flexgrid .col.col_10-d {
        flex-basis: 41.6666666667%;
        max-width: 41.6666666667%; }
      .flexgrid .col.col_11-d {
        flex-basis: 45.8333333333%;
        max-width: 45.8333333333%; }
      .flexgrid .col.col_12-d {
        flex-basis: 50%;
        max-width: 50%; }
      .flexgrid .col.col_13-d {
        flex-basis: 54.1666666667%;
        max-width: 54.1666666667%; }
      .flexgrid .col.col_14-d {
        flex-basis: 58.3333333333%;
        max-width: 58.3333333333%; }
      .flexgrid .col.col_15-d {
        flex-basis: 62.5%;
        max-width: 62.5%; }
      .flexgrid .col.col_16-d {
        flex-basis: 66.6666666667%;
        max-width: 66.6666666667%; }
      .flexgrid .col.col_17-d {
        flex-basis: 70.8333333333%;
        max-width: 70.8333333333%; }
      .flexgrid .col.col_18-d {
        flex-basis: 75%;
        max-width: 75%; }
      .flexgrid .col.col_19-d {
        flex-basis: 79.1666666667%;
        max-width: 79.1666666667%; }
      .flexgrid .col.col_20-d {
        flex-basis: 83.3333333333%;
        max-width: 83.3333333333%; }
      .flexgrid .col.col_21-d {
        flex-basis: 87.5%;
        max-width: 87.5%; }
      .flexgrid .col.col_22-d {
        flex-basis: 91.6666666667%;
        max-width: 91.6666666667%; }
      .flexgrid .col.col_23-d {
        flex-basis: 95.8333333333%;
        max-width: 95.8333333333%; }
      .flexgrid .col.col_24-d {
        flex-basis: 100%;
        max-width: 100%; } }
    @media only screen and (min-device-width: 1200px) {
      .flexgrid .col.col_1-d-o {
        flex-basis: 4.1666666667%;
        max-width: 4.1666666667%; }
      .flexgrid .col.col_2-d-o {
        flex-basis: 8.3333333333%;
        max-width: 8.3333333333%; }
      .flexgrid .col.col_3-d-o {
        flex-basis: 12.5%;
        max-width: 12.5%; }
      .flexgrid .col.col_4-d-o {
        flex-basis: 16.6666666667%;
        max-width: 16.6666666667%; }
      .flexgrid .col.col_5-d-o {
        flex-basis: 20.8333333333%;
        max-width: 20.8333333333%; }
      .flexgrid .col.col_6-d-o {
        flex-basis: 25%;
        max-width: 25%; }
      .flexgrid .col.col_7-d-o {
        flex-basis: 29.1666666667%;
        max-width: 29.1666666667%; }
      .flexgrid .col.col_8-d-o {
        flex-basis: 33.3333333333%;
        max-width: 33.3333333333%; }
      .flexgrid .col.col_9-d-o {
        flex-basis: 37.5%;
        max-width: 37.5%; }
      .flexgrid .col.col_10-d-o {
        flex-basis: 41.6666666667%;
        max-width: 41.6666666667%; }
      .flexgrid .col.col_11-d-o {
        flex-basis: 45.8333333333%;
        max-width: 45.8333333333%; }
      .flexgrid .col.col_12-d-o {
        flex-basis: 50%;
        max-width: 50%; }
      .flexgrid .col.col_13-d-o {
        flex-basis: 54.1666666667%;
        max-width: 54.1666666667%; }
      .flexgrid .col.col_14-d-o {
        flex-basis: 58.3333333333%;
        max-width: 58.3333333333%; }
      .flexgrid .col.col_15-d-o {
        flex-basis: 62.5%;
        max-width: 62.5%; }
      .flexgrid .col.col_16-d-o {
        flex-basis: 66.6666666667%;
        max-width: 66.6666666667%; }
      .flexgrid .col.col_17-d-o {
        flex-basis: 70.8333333333%;
        max-width: 70.8333333333%; }
      .flexgrid .col.col_18-d-o {
        flex-basis: 75%;
        max-width: 75%; }
      .flexgrid .col.col_19-d-o {
        flex-basis: 79.1666666667%;
        max-width: 79.1666666667%; }
      .flexgrid .col.col_20-d-o {
        flex-basis: 83.3333333333%;
        max-width: 83.3333333333%; }
      .flexgrid .col.col_21-d-o {
        flex-basis: 87.5%;
        max-width: 87.5%; }
      .flexgrid .col.col_22-d-o {
        flex-basis: 91.6666666667%;
        max-width: 91.6666666667%; }
      .flexgrid .col.col_23-d-o {
        flex-basis: 95.8333333333%;
        max-width: 95.8333333333%; }
      .flexgrid .col.col_24-d-o {
        flex-basis: 100%;
        max-width: 100%; } }
  .flexgrid .break {
    flex-basis: 100%;
    height: 0;
    font-size: 0; }

html {
  font-family: 'Roboto', sans-serif;
  font-size: 15px;
  background: #f1f1f1; }

.wrapper {
  width: 90%;
  max-width: 1024px;
  margin: 32px auto; }

.col {
  color: #062e31;
  position: relative; }
  .col .content {
    display: block;
    min-height: 300px;
    padding: 16px;
    margin-bottom: 16px;
    width: 100%;
    z-index: 0;
    background-color: #97C0B7; }
    .col .content.content__big {
      min-height: 416px; }

.col .col .content {
  background-color: #679693; }

.col .col .col .content {
  background-color: #41848F; }

@media only screen and (min-device-width: 600px) and (max-device-width: 991px) {
  .col {
    color: red; } }

/*# sourceMappingURL=style.css.map */
