@import '../../node_modules/reset-css/sass/_reset.scss';
@import '../../src/assets/sass/index.scss';
@import "https://fonts.googleapis.com/css?family=Roboto:400,700";

html{
	font-family: 'Roboto', sans-serif;
	font-size: 15px;
	background: #f1f1f1;
}

.wrapper {
	width: 90%;
	max-width: 1024px;
	margin: 32px auto;
}

.col {
	color: #062e31;
	position: relative;

	.content {
		display: block;
		min-height: 300px;
		padding: 16px;
		margin-bottom: 16px;
		width: 100%;
		z-index: 0;
		background-color: #97C0B7;

		&.content__big {
			min-height: 416px;
		}
	}
}
.col .col .content {
	background-color: #679693;
}
.col .col .col .content {
	background-color: #41848F;
}

@include tablet-only {
	.col {
		color: red;
	}
}