// columns mixin
@mixin col($name: '') {
    @for $i from 1 through $flexgrid-nbcols {
        &.col__#{$i}#{$name} {
            flex-basis: 100% / $flexgrid-nbcols * $i;
            max-width: 100% / $flexgrid-nbcols * $i;
        }
    }
}

// grid
.flexgrid {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;

    *,
    *::after,
    *::before {
        box-sizing: border-box;
    }

    &_gutter {
        width: calc(100% + #{$flexgrid-gutter});
        margin: 0 -#{$flexgrid-gutter / 2};

        .col {
            padding: 0 #{$flexgrid-gutter / 2};
        }
    }

    .col {
        flex: 1;
        flex-basis: 100%;
        max-width: 100%;

        @include col;

        @include mobile-only {
            @include col('_m-o');
        }

        @include mobile-portrait-only {
            @include col('_mp-o');
        }

        @include mobile-landscape-only {
            @include col('_ml-o');
        }

        @include breakpoint-tablet {
            @include col('_t');
        }

        @include tablet-only {
            @include col('_t-o');
        }

        @include breakpoint-tablet-portrait {
            @include col('_tp');
        }

        @include tablet-portrait-only {
            @include col('_tp-o');
        }

        @include breakpoint-tablet-landscape {
            @include col('_tl');
        }

        @include tablet-landscape-only {
            @include col('_tl-o');
        }

        @include breakpoint-laptop {
            @include col('_l');
        }

        @include laptop-only {
            @include col('_l-o');
        }

        @include breakpoint-desktop {
            @include col('_d');
        }

        @include desktop-only {
            @include col('_d-o');
        }
    }

    .break {
        flex-basis: 100%;
        height: 0;
        font-size: 0;
    }
}
