$flexgrid-breakpoint-tablet: 600px !default;
$flexgrid-breakpoint-laptop: 992px !default;
$flexgrid-breakpoint-desktop: 1200px !default;

$flexgrid-prefix: '' !default;
$flexgrid-suffix: '' !default;
$flexgrid-nbcols: 24 !default;
$flexgrid-gutter: 16px !default;
